@{
    ViewData["Title"] = "Reset your password";
}

<h2>@ViewData["Title"]</h2>
<p>
    To reset your password, use the link in the letter sent to your email.
</p>
<a asp-action="ResetPassword" asp-controller="User">
    link
</a>