@model List<ArticleModel>

@{
    ViewData["Title"] = "Articles";
}

<form asp-action="Agregate" method="post">
    <button class="btn btn-primary" type="submit">Agregate</button>
</form>

@if (Model != null)
{
    @foreach (var article in Model)
    {
        <div>@article.Title</div>
        <div class="card">@Html.Raw(@article.Description)</div>
        <br />

        <a class="btn" asp-route-articleId="@article.Id" asp-action="Details" asp-controller="Article">Details</a>
    }
}
else
{
    <div>test</div>
}