@model UserSettingsModel

@{
    ViewData["Title"] = "User Settings";
}

<h2>User Settings</h2>

<h2>@Model.UserName</h2>

<form asp-action="ChangeMinRank" method="post">
    <input type="hidden" name="articleId" value="@Model.MinRank" />
    <input type="number" name="minRank" value="@Model.MinRank" />

    <button type="submit">Submit</button>
</form>