@model UserSettingsModel

@{
    ViewData["Title"] = $"User Settings";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title">User Settings</h2>
                </div>
                <div class="card-body">
                    <label asp-for="UserName" class="form-label"></label>
                    <h3 class="card-subtitle mb-3">@Model.UserName</h3>
                    <form asp-controller="UserSettings" asp-action="ChangeMinRank" method="post">
                        <div class="form-group">
                            <label asp-for="MinRank" class="form-label"></label>
                            <input asp-for="MinRank" class="form-control" type="number" />
                            <span asp-validation-for="MinRank" class="text-danger"></span>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>