@model UserSettingsModel

@{
    ViewData["Title"] = "User Settings";
}

<div class="container mt-4">
    <h2 class="mb-4">@ViewData["Title"]</h2>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">UserName</div>
        <div class="col-md-10">@Model.UserName</div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 font-weight-bold">MinRank</div>
        <div class="col-md-10">@Model.MinRank</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a class="btn btn-primary" asp-action="Change" asp-controller="UserSettings">Change value</a>
        </div>
    </div>
</div>